.header {
	position: sticky;
	top: 0;
	backdrop-filter: blur(10px);
	background: rgba(255, 255, 255, 0.5);
	display: grid;
	height: 80px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem;
	grid-template-columns: 1fr 8fr 2fr;
	grid-template-rows: auto;
	grid-template-areas: "logo nav search";
	z-index: 10;
}
.header .logo {
	justify-self: start;
	grid-area: "logo";
}
.header .menu-header-menu-container {
	grid-area: "nav";
	justify-self: center;
}
.header .menu-header-menu-container > ul {
	display: flex;
	list-style: none;
	gap: 2.5rem;
	margin: 0;
	justify-content: center;
}
.header .menu-header-menu-container > ul a {
	text-decoration: none;
	color: unset;
}
.header .menu-header-menu-container > ul li {
	cursor: pointer;
	font-size: 1.5rem;
	font-family: "Khand";
	font-weight: 500;
	color: var(--secondary);
}
.header .menu-header-menu-container > ul li:hover,
.header .menu-header-menu-container > ul li.current-menu-item {
	color: var(--primary);
}
.header .search {
	grid-area: "search";
}
.header .logo img.custom-logo {
	width: 160px;
	height: auto;
}
.header .search {
	justify-self: end;
}
.header .search input {
	min-width: 300px;
	border: 1px solid;
	font-size: 1rem;
	border-radius: 8px;
	padding: 0.5rem;
	color: var(--primary);
	background-color: #e7f1f8;
	border: 2px solid var(--primary);
}
