.entry-meta.on-single-post-page {
	display: flex;
	justify-content: center;
	gap: 1rem;
	font-family: var(--heading-font);
	font-size: 1.3rem;
	text-align: center;
	margin-bottom: 2rem;
}

.post-single-thumbnail .news-image {
	max-width: 50vw;
	margin: 0 auto;
	border-radius: 10px;
}

.post-single-thumbnail {
	position: relative;
	display: flex;
	justify-content: center;
	width: min-content;
	margin: 0 auto;
}
.post-single-thumbnail .icons {
	display: flex;
	gap: 1rem;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 1rem;
	z-index: 2;
}

.post-single-thumbnail .icons .icon img {
	width: 20px;
}

.post-single-thumbnail .icons .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: white;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	width: 50px;
}
.post-single-thumbnail .icons .icon:hover {
	border: 2px solid;
}
.news-content {
	max-width: 60vw;
	margin: 0 auto;
	margin-top: 3rem;
}
