@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

@import url(./root.css);
@import url(./header.css);
@import url(./main.css);
@import url(./single-post.css);
@import url(./categorized-post.css);
@import url(./footer.css);
